{
    "branches": ["*"],
    "debug": "true",
    "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
        "semantic-release-helm3",
        {
          "chartPath": "./mychart/myhelm",
          "isChartMuseum": true,
          "registry": "http://sandbox-chartmuseum.retengr.io:9999"
        }
      ],
      "@semantic-release/changelog@3.0.0",
      "@semantic-release/github"
  ]
}
